p:not(.not-style,.text-black)  {
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.text-black {
    text-shadow: 
    -1px -1px 0 #c4c4c4,
    1px -1px 0 #c4c4c4,
    -1px 1px 0 #c4c4c4,
    1px 1px 0 #c4c4c4;
}

div:not(.title) {
    margin: 0 auto;
}

p:not(.title-bg) {
    margin: 0;
    display: inline;
}

a {
    width: 65%;
}

.title-bg {
    background:#1C86EE;
    margin: 15px auto;
    border: 4px solid #1D1D1F;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px 0px 6px #1D1D1F;
    padding: 7px 13px;
    Box-sizing: border-box;
    text-align: center;
}


.blinking {
    animation: blinkingText 0.95s infinite;
}

@keyframes blinkingText {
    0% { opacity: 1;}
    50% { opacity: 0;}
    100% { opacity: 1;}
}